
.App-header {
  height: 150px;
  padding: 20px;
}

.footer {
  clear: both;
}

.homepage {
  h1 {
    font-size: 64px;
    text-align: center;
    margin-top: 40px;
  }
  h2 {
    width: 60%;
    font-size: 24px;
    margin: 30px auto;
    text-align: center;
  }
}

.modal-body .nav {
  margin-bottom: 30px;
}

.addEventNav {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      font-size: 35px;
      text-align: center;
      padding: 0 20px;

      &.active {
        color: #16A085;
      }
    }
    small {
      font-size: 14px;
      display: block;
    }
  }
}

.addEventContent {
  clear: both;
  padding-top: 40px;

  .react-tagsinput {
    padding: 0 !important;
    border-radius: 3px;
    overflow: visible;
    position: relative;

    .react-tagsinput-input {
      margin: 0 !important;
    }

    & > span {
      padding-left: 7px;
    }
  }
}


/* Events filter*/

.eventsFilter {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cities .icon-append, .tags .icon-append {
  top: 13px !important;
}

.search-row-wrapper {
  height: auto !important;
  position: relative;
  z-index: 10;
}

.react-tagsinput {
  padding-top: 7px !important;
  padding-bottom: 1px !important;
}

.react-tagsinput > span {
  display: block;
  text-align: left;
  padding-left: 35px;
}

.react-autosuggest__container {
  display: inline;
}

.react-tagsinput-tag {
  padding: 2px 5px !important;
}

.react-autosuggest__suggestions-container ul {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  padding: 10px 10px 10px 40px;
  border: 1px solid #a5d24a;
  border-top: none;
  z-index: 10;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.searchResults {
  //column-width: 200px;
  margin: 0 -10px;
}

.eventItem {
  text-align: center;
  display: inline-block;
  width: 23%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #888;

  strong {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.job-item img {
  padding: 20px !important;
}

.job-item .date {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-top: 20px;

  .day {
    font-size: 250%;
    display: block;
  }
}

#eventDetail {
  .mainInfo {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;

    p {
      border: 1px solid #ccc;
      padding: 20px;
      height: 100%;
    }
  }

  .map {
    border: none;
    width: 100%;
    height: 150px;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top:5px;
}

.button-wrapper .btn {
  margin-bottom:5px;
}

.basic-padding {
  padding: 5px 5px 5px 5px;
}