
.App-header {
  height: 150px;
  padding: 20px;
}

.footer {
  clear: both;
}


.addEventNav {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      font-size: 35px;
      text-align: center;
      padding: 0 20px;

      &.active {
        color: blue;
      }
    }
    small {
      font-size: 14px;
      display: block;
    }
  }
}

.addEventContent {
  clear: both;
  padding-top: 40px;
}
